@import "../../style/shared.scss";

:host {
    @include page;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: $spacing * 2;
}

.choice-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}