<div class="parcour">
    <div *ngFor="let t of tiles; let i = index" (mousedown)="selectTile(i)" class="{{t.element}} {{t.rot}}" [ngStyle]="{left: t.x + 'px', top: t.y + 'px'}"></div>
    <div *ngFor="let t of curves" class="speed-tile {{t.rot}}" [ngStyle]="{left: t.x + 'px', top: t.y + 'px', width: t.width + 'px', height: t.height + 'px'}">
        <div class="speed">{{t.speed}}</div>
    </div>
    <div *ngIf="hasSelection" class="selection" [ngStyle]="{left: selectedTile!.x + 'px', top: selectedTile!.y + 'px', width: selectedTile!.width + 'px', height: selectedTile!.height + 'px'}"></div>
    <div *ngIf="isEditMode" class="tile-input center" [ngStyle]="{left: startTile.x + 'px', top: startTile.y + 'px', width: startTile.width + 'px', height: startTile.height + 'px'}">
        <div class="b-group">
            <button type="button" (click)="rotateLeft()" rIconButton="rotate_left"></button>
            <button type="button" (click)="rotateRight()" rIconButton="rotate_right"></button>
        </div>
    </div>
    <div *ngIf="isEditMode">
        <div *ngFor="let t of tiles; let i = index" class="tile-input edge {{t.endDirection}}" [ngStyle]="{left: t.x + 'px', top: t.y + 'px', width: t.width + 'px', height: t.height + 'px'}">
            <button *ngIf="canInsertAfter(i)" type="button" (click)="insertLeftCurve(i)" rIconButton="arrow_turn_left"></button>
            <button *ngIf="canInsertAfter(i)" type="button" (click)="insertStraight(i)" rIconButton="arrow_up"></button>
            <button *ngIf="canInsertAfter(i)" type="button" (click)="insertRightCurve(i)" rIconButton="arrow_turn_right"></button>
        </div>
        <div *ngFor="let t of tiles; let i = index" class="tile-input center" [ngStyle]="{left: t.x + 'px', top: t.y + 'px', width: t.width + 'px', height: t.height + 'px'}">
            <button *ngIf="i > 0" type="button" (click)="remove(i)" rIconButton="cross"></button>
        </div>
    </div>
    <!--
    <div *ngFor="let c of cars" class="car {{c.team}}" [ngClass]="{active: c.active}" [ngStyle]="{left: c.x + 'px', top: c.y + 'px'}"></div>
    -->
</div>