@import "../../../style/shared.scss";

:host {
    @include page;
}

.canvas-with-menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 1;
}

.menu {
    padding: $spacing;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
}
