@import "shared.scss";

.nav-bar {
    @include nav-bar;
}

.nav-bar-group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    column-gap: 1px;

    button, a.button {
        @include button-navbar;
    }

    .separator {
        display: block;
        width: $spacing;
    }
}

.sub-nav-bar {
    padding: $spacing 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1px;
    align-self: stretch;
    background-color: #c0c0c0;

    button, a.button {
        @include button-base;
        border-style: none;
        justify-content: flex-start;
    }
}
