<div class="nav-bar">
    <button type="button" routerLink="/challenge" routerLinkActive="active" rIconButton="dice"></button>
    <button type="button" routerLink="/weather" routerLinkActive="active" rIconButton="weather_cloudy"></button>
</div>
<div class="nav-bar">
    <ng-content></ng-content>
</div>
<div class="nav-bar">
    <button type="button" routerLink="/settings" routerLinkActive="active" rIconButton="cog"></button>
    <button type="button" routerLink="/about" routerLinkActive="active" rIconButton="information"></button>
</div>
