@import "../../style/shared.scss";

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
        border: 1px solid black;
        border-radius: 0.5ex;
        padding: 0.1ex 0.5ex;
        font-family: $font-family-mono;
        font-weight: bold;
        color: #c0ff80;
        text-shadow: 0 0 0.5ex #c0ff80;
        text-align: right;
        background: radial-gradient(circle, rgb(0,0,0) 0%, rgb(60,60,60) 100%);

        &.large {
            font-size: 25vh;
        }

        &.animating {
            color: #ffc040;
            text-shadow: 0 0 0.5ex #ffc040;
        }
    
    }
}